@model CodeNames.Models.ViewModels.LiveSessionVM;

@{
    string joinRedTeamBtnClass = "row mt-5 Red-team-join-div";
    string redSpymasterBtnClass = Model.InitialRun ? 
    "row mt-5 Red-spymaster-join-div d-none" :
    "row mt-5 Red-spymaster-join-div";

    string joinBlueTeamBtnClass = "row mt-5 Blue-team-join-div";
    string blueSpymasterBtnClass = Model.InitialRun ?
    "row mt-5 Blue-spymaster-join-div d-none" :
    "row mt-5 Blue-spymaster-join-div";
}
<h1 class="display-6 text-center" id="displayBanner"></h1>

<input type="hidden" asp-for="@Model.LiveSession.SessionId" />

<div class="container game-frame">
    <div class="row justify-content-start">
        <div class="col-lg-2 left-panel bg-secondary bg-gradient">
            <h1 class="text-white">Red Team</h1>
            <ul class="list-group red-team-ul bg-info bg-gradient" id="red-team-ul">
                <li style="background-color:#ff8080" class="list-group-item text-center"></li>
            </ul>
            
            @if (!Model.HideJoinRedTeamButton)
            {
                <div class="@joinRedTeamBtnClass">
                    <div class="col-12 d-flex justify-content-center">
                        <a href="#" class="btn btn-primary" id="redTeamJoinBtn" data-value=@Color.Red>Join Red Team</a>
                    </div>
                </div>
            }

            @if (!Model.HideRedSpymasterButton)
            {
                <div class="@redSpymasterBtnClass">
                    <div class="col-12 d-flex justify-content-center">
                        <a href="#" class="btn btn-primary" id="RedSpymasterBtn" data-value=@Color.Red>Become SpyMaster</a>
                    </div>
                </div>
            }

            <div class="row mt-5">
                <h1 class="text-white">Idle Players</h1>
                <ul class="list-group mt-1" id="idle-players-ul">
                </ul>
            </div>
        </div>

        <div style="background-color:@ViewBag.ColorDictionary[Model.BackgroundColor]" class="col-lg-8" id="gamePanel">
            @for (int i = 0; i < Model.LiveSession.Grid.Rows; i++)
            {
                <div class="row justify-content-between p-1 mt-3">
                    @for (int j = 0; j < Model.LiveSession.Grid.Columns; j++)
                    {
                        int rowIndex = i * Model.LiveSession.Grid.Columns;
                        var card = Model.LiveSession.Grid.Cards[rowIndex + j];
                        var cardColor = card.IsRevealed ? 
                            card.ColorHex : 
                            ColorHelper.ColorToHexDict[Color.Neutral];
                        string cardId = card.CardId;

                        <div class="col-2">
                            <div class="card mb-3 game-card" id=@cardId style="max-width: 18rem; background-color:@cardColor">
                                <div class="card-body text-center">
                                    <h5 class="card-title">@card.Content</h5>
                                    <a href="#" class="btn btn-primary guess-btn disabled" value="@card.Content">Guess</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }

            <hr class="hr hr-blurry mb-5 mt-2" />

            <form class="m-3 d-none" id="clueSubmitForm">
                <div class="row justify-content-end">
                    <div class="col-2">
                        <input type="text" class="form-control" id="inputClue" placeholder="Enter clue">
                    </div>
                    <div class="col-1">
                        <input type="number" class="form-control" id="inputNumberTarget" min="1" />
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            </form>
           
            <div id="startGameDiv" class="row justify-content-center ">
                <!--d-none-->
                <div class="col-3">
                    <button type="button" id="btnStartGame" class="btn btn-dark mt-1 mb-4">Start Game</button>
                </div>       
            </div>

        </div>
        
        <div class="col-lg-2 right-panel bg-secondary bg-gradient">
            <h1 class="text-white">Blue Team</h1>
            <ul class="list-group bg-info bg-gradient" id="blue-team-ul">
                    <li style="background-color:#72a5f7" class="list-group-item text-center"></li>
            </ul>

            @if (!Model.HideJoinBlueTeamButton)
            {
                <div class="@joinBlueTeamBtnClass">
                    <div class="col-12 d-flex justify-content-center">
                        <a href="#" class="btn btn-primary" id="blueTeamJoinBtn" data-value=@Color.Blue>Join Blue Team</a>
                    </div>
                </div>
            }

            @if (!Model.HideBlueSpymasterButton)
            {
                <div class="@blueSpymasterBtnClass">
                    <div class="col-12 d-flex justify-content-center">
                        <a href="#" class="btn btn-primary" id="BlueSpymasterBtn" data-value=@Color.Blue>Become SpyMaster</a>
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="row">
    </div>
</div>


<script src="~/js/signalr.min.js"></script>
<script src="~/js/stateMachineHub.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>