<div id="@ViewData["ModalId"]" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="@ViewData["ModalId"]-title">@ViewData["ModalTitle"]</h2>
        <p id="@ViewData["ModalId"]-body">@ViewData["ModalBody"]</p>
    </div>
</div>

<script src="~/js/modal.js"></script>